/*========== HOME PAGE ==========*/
/*NAVBAR*/
.navbar-brand img{
    height: 3rem;
}
.navbar{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.8)!important;
    z-index: 7;
}
.navbar a:hover{
    color: rgb(239, 136, 41)!important;
    transition: all 400ms ease;
}
.nav-item{
    padding: 8px;
}
.nav-link{
    color: white !important;
}
.nav-link.active,
.nav-link:hover{
    color: rgb(239, 136, 41)!important;
}

/*SOCIAL SIDE BAR*/
.buttons-sidebar{
    position: fixed;
    bottom: 1%;
    right: 1%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-10%);
    z-index: 6;
}
.buttons-sidebar .nav-link{
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.buttons-sidebar .icon{
    background-color: #46515E;
    padding: 7px 10px;
    color: white;
    border-radius: 10px;
}
.buttons-sidebar .nav-link:nth-child(1) .icon:hover{
    background-color: #4267B2;
    transition: all 400ms ease;
}
.buttons-sidebar .nav-link:nth-child(2) .icon:hover{
    background-color: #128c7e;
    transition: all 400ms ease;
}
.buttons-sidebar .nav-link:nth-child(3) .icon:hover{
    background-color: #C13584;
    transition: all 400ms ease;
}

/*CAROUSEL*/
#foodCarousel{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.carousel-item{
    height: 100vh;
    background: #000;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    position: relative;
}
.btn-lg{
    border-width: medium;
    border-radius: 0;
}
.btn-lg:hover{
    border-width: medium;
    border-radius: 0;
    text-shadow: 2px 2px 4px #ffffff;
}
.container_carousel{
    position: absolute;
    bottom: 0;
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}
.carousel-control-prev,
.carousel-control-next{
    height: 0;
    top: 50%;
}

/*RESTAURANT NAME AND DESCRIPTION*/
.narrow{
    width: 75%;
    margin: 1.5rem auto;
}

/*FIXED BACKGROUND IMAGE CORRECTION FOR iOS*/
.fixed-background {
    overflow: hidden; 
}

/*FIXED BACKGROUND IMAGE AND TEXT*/
.fixed{
    background-image: url("./images/new_dish.jpg");
    position: fixed;
}
.fixed-background{
    padding: 10rem 0;
}
.fixed-background h1{
    text-shadow: 2px 2px 4px #000000;
}
.fixed-background h4{
    text-shadow: 2px 2px 4px #000000;
}
.bg-custom{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    border: 3px solid white;
    backdrop-filter: blur(8px);
}

/*FIXED BACKGROUND IMAGE PAGE LAYOUT AND POSITIONING*/
.fixed-background {
    position: relative;
    width: 100%;
    z-index: 5!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
}
.fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}
.mt-5{
    margin-top: 5rem !important;
}
.mt-0{
    margin-top: 5rem !important;
}
.px-5{
    margin-left: 5%;
    margin-right: 5%;
}

/*POPULAR CHOICES SECTION*/
.custom-rd img{
    border-radius: 1rem;
    border: 2px solid black;
}
.btn-outline-dark{
    border-radius: 0px !important;
}
  
/*JUMBOTRON & REVIEW SECTION*/
.reviews img{
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}
blockquote .fa-solid{
    color: rgb(239, 136, 41);
    margin: 1rem;
}
.reviews-hr{
    border-top: 0.1rem solid rgb(239, 136, 41);
}
.heading-underline{
    border-top: 0.2rem solid rgb(239, 136, 41);
    width: 10rem;
    margin: 0 auto 1rem;
}
.btn-secondary{
    border-radius: 0px !important;
}
.btn-secondary:hover{
    background-color: rgb(239, 136, 41);
    border-color: rgb(239, 136, 41);
}

/*FOOTER SECTION*/
footer{
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}
footer img{
    margin: 1rem 0.5rem;
}
footer a{
    color: white;
}
footer a:hover{
    color: rgb(239, 136, 41);
    transition: all 400ms ease;
}
hr.socket{
    width: 100%;
    border-top: 0.1rem solid #7e7e7e;
    margin-top: 1rem;
    padding-top: 0.5rem;
}



/*========== MENU PAGE ==========*/
.menu-bg{
    background: url(./images/menu_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.card{
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(219, 219, 219);
}
.card-img-top{
    height: 14rem;
    object-fit: cover;
    object-position: center;
}
#menu {
    margin-top: 5rem;
    padding-top: 2rem;
    text-align: center;
    background: rgba(240, 240, 240,0.7);
}
#about {
  border: 5px solid black;
  text-align: left;
  background: rgba(240, 240, 240,0.7);
}
#m1 {
  color: white;
  border: 1px solid black;
  background: rgba(0, 0, 0, 1)!important;
}
#m2 {
  margin:0px;
  padding:0px;
}



/*========== LOGIN PAGE ==========*/
.bg{
    background: url(./images/login_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.form-container{
    color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    margin-top: 20vh;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.8);
}
.form-container h1{
    padding-bottom: 1rem;
}
.form-group a{
    color: rgb(253, 187, 125);
}
.btn-info{
    background-color: rgb(239, 136, 41);
    border-color: rgb(239, 136, 41);
    color: white;
}
.btn-info:hover{
    background-color: rgb(231, 117, 9);
    transition: 0.4s;
}
.alternate-login{
    text-align: center;
    padding-top: 1rem;
}
.form-icon i{
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    margin-left: .9rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid #dfe9f5;
}
.form-icon i:hover{
    color: rgb(239, 136, 41);
    border-color: rgb(239, 136, 41);
    background: #07001f;
    transition: 0.4s;
}
.sign-up p{
    padding-top: 1rem;
    display: inline-block;
}
.sign-up a{
    color: rgb(253, 187, 125);
    display: inline-block;
}